DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=[your local mysql password]
DB_NAME=anonimizer_db

PRESIDIO_ANALYZER_URL=http://localhost:5002
PRESIDIO_ANALYZER_PORT=5002
PRESIDIO_ANONYMIZER_URL=http://localhost:5001
PRESIDIO_ANONYMIZER_PORT=5001
OLLAMA_PORT=11434

NODE_ENV=development
PORT=3000