DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=[your local mysql password]
DB_NAME=anonymizer_db

PRESIDIO_ANALYZER_URL=http://localhost:5002
PRESIDIO_ANALYZER_PORT=5002
PRESIDIO_ANONYMIZER_URL=http://localhost:5001
PRESIDIO_ANONYMIZER_PORT=5001
OLLAMA_PORT=11434

NODE_ENV=development
PORT=3000

JWT_SECRET=[random string jwt secret]


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
# right now a simple gmail account is used for mail
# might change it later for a more professional mail server somehow
SMTP_USER=zenbit.greenteam@gmail.com
# not sure about leaving this pw here, but it needs to be used by everybody
# and this seems better then personally sending it for everyone separately;
SMTP_PASS=sbmvgchbsoebuntu
SMTP_FROM=zenbit.greenteam@gmail.com

FRONTEND_ORIGIN=http://localhost:5173